
<div>
  <h3><%= @user.name %></h3>
  <%= image_tag @user.get_profile_image(100, 100) %>

  <% if current_user == @user && !current_user.guest_user? %>
    <div class="row">
      <%= link_to "プロフィール編集",edit_user_path(@user),class: "btn btn-outline-secondary btn-block fas fa-user-cog edit_user_#{@user.id}" %>
    </div>
  <% end %>
</div>